@import url("headerStyle.css");
@import url("aboutStyle.css");
@import url("serviceStyle.css");
@import url("skillsStyle.css");
@import url("portfolioStyle.css");
@import url("testimonialsStyle.css");
@import url("funfactStyle.css");
@font-face {
    font-family: asap-regular;
    src: url("../fonts/Asap-Regular.ttf");
}

@font-face {
    font-family: asap-italic;
    src: url("../fonts/Asap-Italic.ttf");
}

@font-face {
    font-family: asap-bold;
    src: url("../fonts/Asap-Bold.ttf");
}

@font-face {
    font-family: asap-medium;
    src: url("../fonts/Asap-Medium.ttf");
}

@font-face {
    font-family: Myriad-Pro;
    src: url("../fonts/Myriad-Pro.otf");
}


.wrapper{
    min-width: 1500px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*background-color: #550000;*/
}

.container{
    margin: 0 auto;
    width: 1230px;
}
